{% extends "layout.njk" %}

{% block title %}
  <title>FoodFy - Novo Chef</title>
{% endblock title %}

{% block header %}
  <header class="menu--black">
      <nav class="menu container">
          <a href="/admin/recipes" class="button">
            <img src="/img/logo-1.png" alt="Logo">
          </a>
          <ul class="menu__Itens">
            <li class="menu__item"><a href="/admin/recipes" class="button itens--style">Receita</a></li>
            <li class="menu__item"><a href="/admin/chefs" class="button itens--style">Chef</a></li>
          </ul>
      </nav>
  </header>
{% endblock header %}

{% block content %}
    <form method="POST" action="/admin/chefs">
      <div class="form__acoes">
        <h2 class="form__title">Criando chef</h2>
        <button type="submit" class="btn btn--editar">Salvar chef</button>
      </div>
      
      {% include 'admin/chefs/filds.njk'%}
    </form>
{% endblock content%}
