<div class="form__recepe">
    <label for="author_receita" class="form__description">Nome</label>
    <input 
        type="text" 
        name="name"
        id="author_receita" 
        class="form__input"
        value="{{Chefs.name}}"
    >
</div>
<div class="form__recepe">
    <label for="title_receita" class="form__description">Avatar</label>
    <input 
        type="url" 
        name="avatar_url" 
        id="title_receita" 
        class="form__input"
        value="{{Chefs.avatar_url}}"
    >
</div>

