{% extends "layout.njk" %}

{% block header %}
  <header class="black-c">
    <nav class="content">
      <a href="/">
        <img src="/img/logo-1.png" alt="Logo">
      </a>
    </nav>
  </header>
{% endblock header %}

{% block conteudo %}
    <form methods="GET" action="/admin" class="content">
        <div class="create_titulo">
            <div>
                <h2>Criando receita</h2>
            </div>
            <div>
                <button type="submit">Salvar receita</button>
            </div>
        </div>
        <div class="receita">
          <label for="img_receita">Imagem da receita</label>
          <input type="url" id="img_receita">
        </div>
        <div class="receita">
          <label for="ingrediente_receita">Ingredientes</label>
          <input type="text" id="ingrediente_receita">
          <button>Adicionar novo ingrediente</button>
        </div>
        <div class="receita">
          <label for="preparo_receita">Modo de preparo</label>
          <input type="text" id="preparo_receita">
          <button>Adicionar novo passo</button>
        </div>
        <div class="receita">
          <label for="info_receita">Informações adicionais</label>
          <textarea name="" id="info_receita" cols="30" rows="10"></textarea>
        </div>
    </form>
{% endblock %}
