{% extends "layout.njk" %}

{% block header %}
  <header class="menu--black">
      <nav class="menu container">
          <a href="/" class="button">
              <img src="/img/logo-1.png" alt="Logo">
          </a>
      </nav>
  </header>
{% endblock header %}

{% block content %}
    <form methods="POST" action="/admin" class="form create">
        <div class="form__create">
          <h2>Criando receita</h2>
          <button type="submit" class="recipe__btn recipe__btn--create-2">Salvar receita</button>
        </div>
        <div class="form__recepe">
          <label for="img_receita" class="form__description">Imagem da receita</label>
          <input type="url" id="img_receita" class="form__input">
        </div>
        <div class="form__recepe">
          <label for="ingrediente_receita" class="form__description">Ingredientes</label>
          <input type="text" id="ingrediente_receita" class="form__input">
          <button class="recipe__btn recipe__btn--create">Adicionar novo ingrediente</button>
        </div>
        <div class="form__recepe">
          <label for="preparo_receita" class="form__description">Modo de preparo</label>
          <input type="text" id="preparo_receita" class="form__input">
          <button class="recipe__btn recipe__btn--create">Adicionar novo passo</button>
        </div>
        <div class="form__recepe">
          <label for="info_receita" class="form__description">Informações adicionais</label>
          <textarea name="" id="info_receita" cols="30" rows="10" class="form__input"></textarea>
        </div>
    </form>
{% endblock content%}
