{% extends "layout.njk" %}

{% block header %}
  <header class="menu--black">
      <nav class="menu container">
          <a href="/" class="button">
              <img src="/img/logo-1.png" alt="Logo">
          </a>
      </nav>
  </header>
{% endblock header %}

{% block content %}
<div class="form__create">
    <h2>Editando Receita</h2>
    <div> 
      <form method="POST" action="/admin/recipes?_method=PUT" class="form create">
        <button type="submit" class="btn btn--editar">Editar</button>
        <input type="hidden" name="id" value="{{food.id}}">
      </form>  
      <form method="POST" action="/admin/recipes?_method=DELETE" class="form create">
        <button type="submit" class="btn btn--excluir">Excluir</button>
        <input type="hidden" name="id" value="{{food.id}}">
      </form> 
    </div>
</div>
{% include 'admin/filds.njk'%}

{% endblock content%}
