{% extends "layout.njk" %}

{% block header %}
  <header class="menu--black">
      <nav class="menu container">
          <a href="/" class="button">
              <img src="/img/logo-1.png" alt="Logo">
          </a>
      </nav>
  </header>
{% endblock header %}

{% block content %}
{# <form method="POST" action="/admin/recipes?_method=DELETE">
  <input type="hidden" name="id" value="{{food.id}}">
  /admin/recipes?_method=PUT
</form> #}
<form class="form__create form-js" method="POST" action="">
  <div class="form__acoes">
    <h2 class="form__title">Editando Receita</h2>
    <div class="form__btn">
      <button type="submit" class="btn btn--editar">Salvar receita</button>
      <button type="submit" class="btn btn--excluir">Excluir</button>
    </div>
  </div>
  <input type="hidden" name="id" value="{{food.id}}">
  {% include 'admin/filds.njk'%}
</form>
{% endblock content%}
