{% extends "layout.njk" %}

{% block title %}
  <title>FoodFy - Receitas</title>
{% endblock title %}

{% block header %}
  <header class="menu--black">
      <nav class="menu container">
          <a href="/" class="button">
              <img src="/img/logo-1.png" alt="Logo">
          </a>
      </nav>
  </header>
{% endblock header %}

{% block content %}
    <main class="revenues">
      <div class="revenues__manage">
        <h2 class="revenues__title">Gerenciar receitas</h2>
        <a href="/admin/recipes/create" class="btn btn--new-recipe">Nova Receita</a>
      </div>
      <section class="lists lists--columns">
        {% for food in foods %}
          <article class="list__item list__item--columns">
            <div class="list__figure">
              <img src="{{food.image}}" alt="{{food.title}}" class="list__img list__img--adm">
            </div>
            <div> 
              <h1 class="list__title">{{food.title}}</h1>
              <p class="list__cooker">por {{food.author}}</p>
              <a href="/admin/recipes/{{food.id}}" class="btn btn--padding">Visualizar</a>
            </div>
          </article>
        {% endfor %}
      </section>
    </main>
{% endblock content %}