@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap";

:root{
  /* Cores */
  --titulo-h: #111111;

  /*Tamanhos de texto */
  --size-title-h1: 2rem; /* 32px */
  --size-title-h2: 1.5rem; /* 24px */
  --size-text-p1: 1rem; /* 16px */
  --size-text-p2: 1.13rem; /* 18px */
  --size-text-p3: 2rem; /* 32px */
  --size-text-p4: 1.2rem;

  /* separacao */
  --gap-1: 1.3rem; /* 20px */
  --space: 1rem;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* não deixa ultrapassar o limete do box */
}

body{
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}

.container{
  max-width: 940px;
  margin: 0 auto;
}

.container--height{
  min-height: calc(33rem - 60px);
}

.menu{
  display: flex;
}

.menu__Itens{
  display: flex;
  gap: var(--gap-1);
  list-style: none;
  margin-left: 9%;
}

.button{
  display: inline-flex;
  color: var(--titulo-h);
  font-size: var(--titulo-text-p1);
  text-decoration: none;
  padding: var(--space) 0;
}

/* showcase */

.showcase{
  border-radius: 30px;
  background-color:#FBDFDB;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  min-height: 366px;
  padding-left: 5%;
  position: relative;
  overflow: hidden;
}

.showcase__title{
  font-size: var(--size-text-p3);
  color: var(--titulo-h);
  line-height: 3rem;
}

.showcase__text{
  font-size: var(--size-text-p2);
  color: var(--titulo-h);
  line-height: 1.8rem;
  opacity: 0.6;
}

.showcase__img{
  position: absolute; 
  right: 10.6%;
  bottom: 0;
}



/* foods */

.revenues{
  margin-top: 50px;
}

.revenues__accessed{
  font-size: var(--size-title-h2);
  color: #111111;
  margin-bottom: 20px;
  font-weight: 600;
}

.lists{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-1);
}

.lists--pointer{
  cursor: pointer;
}

.lists--columns{
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}

.list__item--columns{
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 8px;
  line-height: 1.6rem;
}

.list__img{
  width:100%;
  min-height: 120px;
  border-radius: 15px;
}

.list__img--adm{
  min-height: 80px;
}

.list__title{
  font-size: var(--size-text-p2);
  color: #111111;
  font-weight: 500;
}

.list__cooker{
  font-size: 14px;
  color: #777777;
}

/* footer */

.footer{
  margin-top: 50px;
  padding: 1.2rem;
  background: #EEEEEE;
  text-align: center;
  font-size: 14px;
  color: #999999;
}

/* Sobre */

.about{
  margin: 10px 0;
}

.about__title{
  font-size: var(--size-text-p4);
  color: #111111;
}

.about__title--highlight{
  margin-top: 30px;
  font-size: var(--size-title-h2);
  font-weight: 600;
}
.about__text{
  margin: 20px 0;

}

/* Receita page */

.lists--page{
  display: flex;
  flex-direction: column;
}

.list__item--page{
  text-align: center;
  margin-bottom: 50px;
}

.list__img--page{
  height: 100%;
}

.list__title--page{
  margin-top: 50px;
  font-size: var(--size-title-h1);
  font-weight: bold;
}

.list__cooker--page{
  font-weight: 300;
  font-size: var(--size-text-p4);
}

.recipe__content{
  padding-bottom: 39px;
}

.recipe__title{
  font-size: var(--size-title-h2);
  color: #111111;
  font-weight: bold;
}

.recipe__btn{
  font-family: bold;
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.recipe__preparation{
  padding-top: 20px;
}

.recipe__itens{
  color: #444444;
  padding-left: 18px;
}

.recipe__texto{
  font-size: var(--size-text-p2);
  color: #444444;
  line-height: 28px;
}

.ativo{
  display: none;
}

.item_page{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* form */
.menu--black{
  background-color: #111111;
  margin-bottom: 55px;
}

.form__create{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form__recepe{
  margin-bottom: 30px;
  font-size: 16px;
  color: #111111;
  font-weight: bold;
}

.form__input{
  width: 100%;
  font-size: var(--size-text-p2);
  padding: 4px 8px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-top: 10px;
}

.recipe__btn--create{
  font-size: 16px;
  color: #6558C3;
  font-weight: bold;
  font-family: 'roboto', sans-serif;
  text-transform: capitalize;
  text-align: right;
  margin-top: 16px;
}

.recipe__btn--create-2{
  background: #6558C3;
  border-radius: 4px;
  padding: 8px 20px;
  color: #fff;
  font-size: 16px;
  font-family: 'roboto', sans-serif;
  text-transform: capitalize;
}

/*btn componente */

.btn{
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #6558C3;
  font-weight: bold;
  font-size: 14px;
}

.btn--editar{
  padding: 8px 20px;
  background-color: #6558C3;
  color: #fff;
  border-radius: 4px;
}