{% extends "layout.njk" %}

{% block title %}
  <title>FoodFy - Editar</title>
{% endblock title %}

{% block header %}
  <header class="menu--black">
      <nav class="menu container">
          <a href="/admin/recipes" class="button">
            <img src="/img/logo-1.png" alt="Logo">
          </a>
          <ul class="menu__Itens">
            <li class="menu__item"><a href="/admin/recipes" class="button itens--style">Receita</a></li>
            <li class="menu__item"><a href="/admin/chefs" class="button itens--style">Chef</a></li>
          </ul>
      </nav>
  </header>
{% endblock header %}

{% block content %}
  
<form class="form__create form-js" method="POST" action="admin/recipes">
  <div class="form__acoes">
    <h2 class="form__title">Editando Receita</h2>
    <div class="form__btn">
      <button 
        type="submit" 
        class="btn btn--excluir"
        onclick="editOrDel('/admin/recipes?_method=DELETE')"
      >Excluir</button>

      <button 
        type="submit" 
        class="btn btn--editar" 
        onclick="editOrDel('/admin/recipes?_method=PUT')"
      >Salvar receita</button>
    </div>
    <input type="hidden" name="id" value="{{food.id}}">
  </div>
  {% include 'admin/filds.njk'%}
</form>
{% endblock content%}
