{% extends "layout.njk" %}

{% block title %}
  <title>FoodFy - Receitas</title>
{% endblock title %}

{% block content %}
    <section class="revenues">
      <section class="lists lists--pointer">
        {% for food in foods %}
          <article class="list__item list__item-js" id="{{food.id}}">
            <div class="list__figure">
              <img src="{{food.image}}" alt="{{food.title}}" class="list__img">
            </div>
            <h1 class="list__title">{{food.title}}</h1>
            <p class="list__cooker">por {{food.author}}</p>
          </article>
        {% endfor %}
      </section>
    </section>
{% endblock content %}
